/* .frontend__container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.infra__content {
  max-width: 90vw;
  min-height: 1700px;
  width: 100%;
  text-align: justify;
}

.infra__header {
  color: #028dde;

  margin: 1rem 0;
}
