.post__list {
  /* border: 1px solid red; */
  display: grid;
  place-items: center;

  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1048px) {
  .post__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .post__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .post__list {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* 전체 코드 블록 스타일 */
.code-container {
  background-color: #282c34; /* 배경 색상 */
  color: #abb2bf; /* 텍스트 색상 */
  padding: 20px; /* 내부 여백 */
  border-radius: 8px; /* 모서리 둥글게 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  font-family: "Menlo", monospace; /* 코드 폰트 설정 */
  overflow-x: auto; /* 가로 스크롤 바 활성화 */
}

/* 줄 번호 스타일 */
.line-number {
  display: inline-block;
  width: 30px; /* 줄 번호 컬럼의 너비 */
  padding-right: 10px; /* 줄 번호와 코드 사이의 간격 */
  color: #5c6370; /* 줄 번호 색상 */
}

/* 코드 라인 스타일 */
.code-line {
  display: block;
  white-space: pre-wrap; /* 줄 바꿈 처리 */
}

/* 선택된 코드 블록 스타일 */
.code-container.selected {
  background-color: #3e4451; /* 선택된 배경 색상 */
}
