.profile__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 100%;

  margin: 0 auto;

  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

.flex__box-lg {
  display: flex;
  gap: 18px;
  /* align-items: center; */
}

.profile__image {
  width: 92px;
  height: 92px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.profile__title {
  font-weight: 500;
  margin-bottom: 10px;
}

.profile__description {
}
