* {
  /* box-sizing: border-box; */
  /* padding: 0; */
  /* margin: 0; */
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* dark mode */

.white {
  transition: all 0.25s linear;
  background-color: white;
}

.dark {
  transition: all 0.25s linear;
  background-color: #1e2937;
  min-height: 100vh;
}

.dark a,
.dark .form label,
.dark .post__delete,
.dark .profile__logout,
.dark .form__title,
.dark .post__navigation--active,
.dark .post__title,
.dark .post__author-name,
.dark .footer__theme-btn,
.dark .profile__name {
  color: white;
}

.dark a:hover,
.dark a:focus,
.dark .post__text,
.dark .post__text--pre-wrap,
.dark .profile__email,
.dark .post__date,
.dark .form__block {
  color: lightgray;
}

.dark .form__error {
  color: #ff6a71;
}

.dark footer,
.dark header {
  background-color: #111827;
}
