.blog__container {
  display: flex;
  justify-content: center;
  /* max-width: 90vw; */

  padding: 0 0 5rem 0;
}

.blog__NLB__container {
  display: none;

  height: 100vh;
  overflow: hidden;

  background-color: #f8f8f8;
  width: 18rem;

  padding: 1rem 0;
  margin-left: 2rem;
}

.blog__content__container {
  /* flex: 1 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 62rem;
  /* width: 100%; */

  padding: 1rem 4rem 1rem 4rem;
}

@media (min-width: 1024px) {
  .blog__NLB__container {
    display: block;
  }
}
