.LBN__title {
  font-size: 1rem;
  font-weight: 600;
  /* line-height: 3rem; */

  margin-top: 2rem;
}

.LBN__subTitle__container {
  list-style: none;
  margin: 0px;

  color: gray;
  border-left: 1.5px solid black;
  /* padding: 0.2rem 0; */

  font-size: 0.9rem;
}

.LBN__subTitle {
  /* padding: 0.2rem; */
  /* padding: 0 0 0 1rem; */
  margin: 8px 0 0 0;
  cursor: pointer;
  &:before {
    content: '';
    margin-right: 0px;
  }
}
